{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <div class="ms-auto my-auto">
                    <a href="{% url 'branches-list' %}" style="color: #FFD700"
                       class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; Branches
                        List</a>
                </div>
            </div>


            <div class="col-md-4">
                <div class="ms-auto my-auto">
                    <a href="{% url 'departments-list' %}" style="color: #FFD700"
                       class="btn bg-gradient-primary btn-sm mb-0">+&nbsp;
                        Departments List</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ms-auto my-auto">
                    <a href="{% url 'employees-list' %}" style="color: #FFD700"
                       class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; Employees
                        List</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ms-auto my-auto">
                    <a href="{% url 'professions-list' %}" style="color: #FFD700 "
                       class="btn bg-gradient-primary btn-sm mb-0">+&nbsp;
                        Professions List</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}